.delete {
  background-color: red;
  color: #FFFFFF;
  font-family: 'Sansita Swashed', cursive;
}


.view {
  background-color: #01bf50;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-color: #01bf50;
}