.submitBtn {
  background-color: #12a63e;
  margin-bottom: 8%;
  font-family: 'Sansita Swashed', cursive;
}

.submitBtn:hover {
  background-color: #64730e;
}

h3 {
  font-family: 'Sansita Swashed', cursive;
}