.save {
  background-color: #2ea838;
  color: #FFFFFF;
  font-family: 'Sansita Swashed', cursive;
}

.view {
  background-color: #11d9ae;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-color: #01bf50;
  margin-bottom: 330rem;
}